body{
	background: #F5F5F5;
}

#container{
	width:500px;
	margin-left : auto;
	margin-right: auto;
	margin-top: 10%;
}

form {
    width:100%;
    padding: 30px;
    border: 2px solid #f1f1f1;
    border-radius: 50px;
    background: #fcf7f7;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h1{
    margin: 0 auto;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: Century Gothic;
   	color: #808080;
   	text-align: center;
 	font-size: 40px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #787878;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: darkgrey;
    color: #000000;
    border: 1px solid #000000;
}

b {
    text-transform: uppercase;
    font-family: Century Gothic;
   	color: #808080;
   	text-align: center;
   	font-size: 20px;
}