body{
	background: #F5F5F5;
}


#marge{
	margin-top: 90px;
}

#projetCadre{
	margin: 0 auto 20px;
	width: 70%;
	height: auto;
	border: 2px solid #f1f1f1;
    border-radius: 35px;
    background: #fcf7f7;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#titre{
	text-transform: uppercase;
    font-family: Century Gothic;
   	color: #808080;
   	text-align: center;
   	font-size: 35px;
   	font-weight: bold;
}


#myList{
    width: 846px;
    margin: 20px;
}

#projet{
	text-transform: uppercase;
	font-family: Century Gothic;
	color: #808080;
	font-size: 25px;
	text-indent: 20px;
}

#info{
	margin-right: 10px;
	background-color: #787878;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	width: 3%;
	padding: 4px 4px;
	float: right;
}

#info:hover {
	background-color: darkgrey;
	color: #000000;
	border: 1px solid #000000;
}

#bandeau {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left:0;
	right:0;
	background: grey;
	width: 100%;
	height: 55px;
	box-shadow: 0px 3px 0px #aaa;
}





.boutonpageprincipale {
	text-transform: uppercase;
	text-align: center;
	font-family: Century Gothic;
	font-size: 24px;
	text-decoration:none;
	padding-left: 50px;
	margin-left: 36%;
	line-height: 50px;
	color: white;
	
}

.boutonactivités {
	text-transform: uppercase;
	text-align: center;
	font-family: Century Gothic;
	font-size: 24px;
	text-decoration:none;
	padding-left: 50px;
	line-height: 50px;
	
	color:black;
	text-decoration: underline;
	
}

.boutonactivités:visited {
	text-transform: uppercase;
	text-align: center;
	font-family: Century Gothic;
	font-size: 24px;
	text-decoration:none;
	padding-left: 50px;
	line-height: 50px;
	color:black;
	text-decoration: underline;
	
}

.boutonactivités:hover {
	color:white;
	text-decoration: none;
	
}

footer{
	text-align: center;
	display: block;
}

#changeColor{
	background-color: #787878;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px;
}

#changeColor:hover {
	background-color: darkgrey;
	color: #000000;
	border: 1px solid #000000;
}
