body{
	background: #F5F5F5;
}

#id1{
	font-family: Century Gothic;
	border: 2px solid #f1f1f1;
    border-radius: 10px;
	font-size: 17px;
	margin-left: 80px;
	margin-right: 80px;
	padding: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-top: 5%;	
}



#id2{
	font-family: Century Gothic;
	border: 2px solid #f1f1f1;
    border-radius: 10px;
	font-size: 17px;
	padding: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);	
	display: block;
	width: 35%;
	height: 250px;
	float:left;
	margin-top: 5%;
	margin-left: 10%;
}

#id3{
	margin-left: 6%;
	margin-top:8%;
	float: left;
    text-transform: uppercase;
    font-family: Century Gothic;
   	color: #808080;
   	font-size: 20px;
   	text-align: left;
   	font-weight: bold;   			
}

#id4{
	margin-left: 10%;
	margin-top:8%;
	float: left;
    text-transform: uppercase;
    font-family: Century Gothic;
   	color: #808080;
   	text-align: left;
   	font-size: 20px;
   	font-weight: bold;			
}

input[type=checkbox] {
    cursor: pointer;   
}

input[type=submit] {
    cursor: pointer; 
    margin-top: 23%;
    background-color: #787878;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    /*width: 10%;*/
    padding: 8px 8px;     
}

input[type=submit]:hover {
    background-color: darkgrey;
    color: #000000;
    border: 1px solid #000000;
}

input[type=date] {
    cursor: pointer;
    margin-top: 10%; 
}

.error {
	color: red;
	text-align: center;
	margin: 0px;
	text-transform: uppercase;
	font-family: Century Gothic;
}